*{margin:0;padding:0;font-family: sans-serif;}
a{text-decoration: none;}
ul{list-style: none;}

:root{
  --main-color:#E54500;
}
#sibote {position:relative;margin-right: 10px;}
#sibote:before{  content: "\00ae";font-size: 0.8em;position: absolute;top:0;
right:-0.8em;
}
input[type="radio"]{display: none;}
/*base style*/

/*header*/
body{overflow-x: hidden;}
#header{
        background-image:url('leg.jpg');
        background-size:cover;
        background-repeat: no-repeat;
        background-position: bottom  right  ;
        -moz-background-size: cover;
        min-height: 400px;
        overflow: hidden;
}
#header nav{
        background-color: white;
        min-height: 3.5em;
        overflow: hidden;
          text-align: center;
          position: fixed;
          width:100%;
          z-index: 10;

}
#header nav ul{
        padding-top: 10px;
        display: inline-block;

        color:green;
        position:relative;
        width:30%;
        font-size: 1.6rem;

}
#header nav ul li{
        font-weight: 700;
        transform: scaleX(2);
        display:inline;
        position: relative;
}
#header nav ul li:after{
        content:'\00ae';
        position: absolute;
        top:-5px;
        right:-20px;
        font-size: 1.3rem;
}
#header nav ul li:before{
        content: "";
        background-image: url('icon1.jpg');
        background-size:cover;
        width:35px;
        height:35px;
        position: absolute;
        right:7.4rem;
        top:0px;
        transform: translate(50%,-10%);
}
#header .headerarticle {
  margin-top: calc(100vw/4);
      position: relative;
}
#header .headerarticle article{
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%,50%);
        text-align: center;
}
#header .headerarticle article *{
      color:white;
  }
#header .headerarticle article h1{
        font-size:1.5rem;
        text-shadow:2px 2px 1px black;
}
#header .headerarticle article a{
        background:var(--main-color);
        margin-top: 10px;
        height: 40px;
        display: inline-block;
        box-sizing: border-box;
        border-radius: 5px;
}
#header .headerarticle article span{
        font-size: 1.3em;
        position: relative;
        left:-10%;
        display: block;
        width:150px;
        padding-top:7px;

}
#header .headerarticle article span:after{
        content: "";
        background-image: url('images.png');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        right:-5%;
        bottom: -20%;
        width: 30px;
        height:30px;
}
/*Fin header*/
/*siil*/
.content{
      width:90%;
      margin:auto;
}
#sell .content div h1{
    font-size: 2em;
    font-weight: 400;
    margin: 10px 0px;
  display: block;
}
#sell .content div h1 span:before{
      content: '\00ae';
      font-size: 19px;
      position: relative;
      bottom:12px;
}
#sell .content div button{
    background:#CC160B;
    border:0;
    border-radius: 5px;
    color:white;
    font-size: 2em;
    height:50px;
    width:220px;
    font-weight: 400;
}
#sell .content div h2{
  font-weight: 700;
  color: #CC160B;
  font-size:3em;
}
#sell .content div h2 span{
  font-weight: 400;
  font-size: 26px !important;
  color:black;
  text-decoration: line-through;
}
#sell .content div h3{
    font-size:1.5em;
    font-weight: 400;
    color:#CC160B;
}
#sell .content .formula{
  margin-top: 20px;
}
#sell .content .formula form{
  display: flex;
  flex-direction: column;
}
#sell .content .formula form .items{
    height: 80px;
}
#sell .content .formula form .items label{
    font-size:1em;
    font-weight: 400;
    border: 0;
}
#sell .content .formula form .items input{
    display: block;
    height: 50px;
    width:90%;
    padding:10px 10px;
    box-sizing: border-box;
}
#sell .content .formula form .items input:focus{
    border: 0.2px solid blue;
}

#sell .content .formula  input[id="input"]{
    background:#CC160B;
    color:white;
    border: 0;
    height: 100px;
    width:180px;
    font-size: 2em;
    border-radius: 20px;
    margin: auto;
    display: block;
}
/*fin still*/
/*info lisder*/
#fileinfo .delevryicon {
  width:60%;
  margin: auto;
  text-align: center;
}
#fileinfo .delevryicon img{
width:60%;
}
#fileinfo .slidermove{
  text-align: center;
  width:300px;
  margin: auto;
  display: block;
  overflow: hidden;

}

#fileinfo .slidermenu .itemslider{


}
#fileinfo .slidermenu .itemslider img{
    width:300px;
}
/*work to slider movment******************************************************/

#fileinfo .slidermenu{
  display: flex;
  flex-direction: row;
  width:1200px;
justify-content: space-between;
position: relative;
}
#fileinfo input[id="menubar3"]:checked ~ .slidermenu{right:0;transition: all 1s;}
#fileinfo input[id="menubar3"]:checked ~ .BUTTONMOVE label[for="menubar3"]{background:#211818;}
#fileinfo input[id="menubar2"]:checked ~ .slidermenu{right:-450px;transition: all 1s;}
#fileinfo input[id="menubar2"]:checked ~ .BUTTONMOVE label[for="menubar2"]{background:#211818;}
#fileinfo input[id="menubar1"]:checked ~ .slidermenu{right:-900px;transition: all 1s;}
#fileinfo input[id="menubar1"]:checked ~ .BUTTONMOVE label[for="menubar1"]{background:#211818;}

.BUTTONMOVE label{
  height:20px;width:20px;background:#634d4d;border-radius: 50%;
  display:inline-block;

}

/*work to slider movment******************************************************/

/*FIN info lisder*/
/*more info---- info about product */
.infodelevry{
    margin-top:20px;
}

.infodelevry table tr:first-child  {
  width:100%;
  height:80px;
  background:orange;
}
.infodelevry table tr th{
  width:calc(100%/3);
}
.infodelevry table tr td{
  text-align: center;
  font-weight: 900;
  font-size: 0.8em;
}
      /*productinfo----**/
.productinfo section{
            margin-top: 50px;
}
.productinfo section h3{font-size: 2.1em;
                font-weight: 400;}
.productinfo section img{
  margin: 10px 0;
                width:100%;
}
.productinfo section p{
                font-size:1.5em;
                font-weight: 100;
}
.productinfo section p > span{
                text-decoration: underline;
}
.productinfo .button {
            text-align: center;
            margin-top: 16px;
}
.productinfo .button a{
            margin: auto;
            padding:15px 10px;
            width:80%;
            height:70px;
            display: block;
            background:var(--main-color);
            color:white;
            font-size:1.6em;
            box-sizing: border-box;
            border-radius: 12px;
}
/**FIN PRODUCT INFO**/
/*PRODUCTION INFO DETAIL*/
.detailproduct {margin-top:10px;}
.detailproduct .dInfo{
text-align: center;
margin-top:15px;
}
.detailproduct .dInfo img{
          width: 50px;
          height:50px;
          background:green;
          }
.detailproduct .dInfo p{
        font-size:1.4em;
}
.detailproduct .dInfo p span{
  font-weight: 200;
}
/*fIN PRODUCT info detail*/
/* productin franti*/
.granti{
        margin-top: 59px;
        text-align: center;
}
.granti h3{

        font-weight: 400;
        font-size:1.6em;
        overflow: hidden;
}
.granti section:not(.therdd) {
      margin-top: 19px;
      margin-bottom: 160px;
      border: 1px solid black;
      padding: 20px 10px;
      background:#FFFCDA;
      position:relative;

}
.granti section *{
      margin: 10px 0px;
}
.granti .first h2{
      color:red;
      font-weight: 400;

}
.granti section hr{
      width:50%;
      font-weight: 100;
      display: block;
      margin-right:calc(50%/2);

}
.granti .first h4{
    font-size: 1.3em;
    font-weight: 300;
}
.granti .first h5{
    font-size:1.3em;
    font-weight: 200;
}

.granti .first .circle {
    height:120px;
    width:120px;
    border-radius: 50%;
    background:yellow;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}
/*secound --------*/
.granti .secound h2{
    font-weight: 400;
    font-size:2.4em;
}
.granti .secound h3{
    color:red;
    font-size: 2.1em;
    font-weight: 400;
    transform: scaleY(1.1);
}
.granti .secound img{
    width:100%;
}
.granti .secound h4{
      font-size: 1.2em;
      font-weight:300;
      line-height: 40px;
}
.granti .secound h4 span{
    text-decoration: underline;
}
.granti .secound a{
      position: absolute;
      left:50%;
      transform: translateX(-50%);
      bottom:-60px;
}

#link{
  position:relative;
  display: block;
  height:50px;
  width:150px;
  background:#E54500;
  text-align: center;
  color:white;
  padding:10px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 1.2em;

}
#link:after {
  content: "";
  background-image: url('images.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right:5%;
  bottom: 20%;
  width: 30px;
  height:30px;
}
.granti .therd .therdd{
  margin-top: 19px;
  margin-bottom: 20px;
  border: 1px solid black;
  padding: 20px 10px;
  background:#FFFCDA;
  position:relative;
}
.granti .therd img{
  width:80%;
}
.granti .therd .therdd{
      font-size:1.2em;
}
.granti .therd div{

width:100%;
}
.granti .therd a{
  display: block;
  width:100%;
  height:60px;

}

.granti .therd a span{
  width: 80% ;
  display:block;
  height:inherit;
  font-size: 1.9em !important;
  color:white;
  background:#E54500;
  margin: auto;
  border-radius: 10px;
padding-top:10px;
}
/*Fin produt garanti*/
footer{
    margin-top:50px;
    background:#1C1C1C;
    height:70px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 0;
    box-sizing: border-box;
}
footer h2{
  font-size:1.4em;
    color:white;
    font-weight: 300;
}
@media (min-width:680px) {
#header{min-height:500px;}
html{font-size:17px;}
.content{width:80%;}
#sell .content .formula form{

  flex-direction: row;
}
}

@media (min-width:980px) {
  html{font-size: 18px;}
#header{min-height:600px;}
.content{width:70%;}
#sell .content .formula  input[id="input"]{
align-self:center;
}
}

@media (min-width:1280px) {
  html{font-size: 19px;}
#header{min-height:700px;}
.content{width:60%;}
#sell .content .formula form{

}

}
